<div class="contact-pro">
    <div class="contact-pro-content">
        <div class="contact-member-pro">
  <div class="contact-member-content">
    <modal-opener class="" data-modal="#ProductPopup-contact-member">
      <button class="contact-member-button" type="button" aria-haspopup="dialog">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
            <g clip-path="url(#clip0_9324_24802)">
                <g filter="url(#filter0_d_9324_24802)">
                <path d="M25.9219 9.92395H6.23438C2.83828 9.92395 0 12.6802 0 16.0763V25.92C0 28.8977 2.19844 31.3832 5.00391 31.9493V38.2247C5.00391 39.3322 6.33273 39.8735 7.09562 39.086L14.134 32.0724H25.9219C29.318 32.0724 32.0742 29.3161 32.0742 25.92V16.0763C32.0742 12.6802 29.318 9.92395 25.9219 9.92395Z" fill="url(#paint0_linear_9324_24802)"/>
                <path d="M25.9219 9.92395H6.23438C2.83828 9.92395 0 12.6802 0 16.0763V25.92C0 28.8977 2.19844 31.3832 5.00391 31.9493V38.2247C5.00391 39.3322 6.33273 39.8735 7.09562 39.086L14.134 32.0724H25.9219C29.318 32.0724 32.0742 29.3161 32.0742 25.92V16.0763C32.0742 12.6802 29.318 9.92395 25.9219 9.92395Z" fill="black" fill-opacity="0.2"/>
                </g>
                <g filter="url(#filter1_d_9324_24802)">
                <path d="M35.7656 2.54114H16.0781C12.682 2.54114 9.92578 5.29739 9.92578 8.69348V18.5372C9.92578 21.9333 12.682 24.6896 16.0781 24.6896H27.8659L34.9043 31.7032C35.6672 32.4907 36.996 31.9493 36.996 30.8419V24.5665C39.8015 24.0004 41.9999 21.5148 41.9999 18.5372V8.69348C42 5.29739 39.1617 2.54114 35.7656 2.54114Z" fill="url(#paint1_linear_9324_24802)"/>
                </g>
                <path d="M18.5391 14.8462C19.2186 14.8462 19.7695 14.2953 19.7695 13.6157C19.7695 12.9362 19.2186 12.3853 18.5391 12.3853C17.8595 12.3853 17.3086 12.9362 17.3086 13.6157C17.3086 14.2953 17.8595 14.8462 18.5391 14.8462Z" fill="#3B352B"/>
                <path d="M27.1523 13.6154C27.1523 14.3043 26.611 14.8458 25.9219 14.8458C25.2327 14.8458 24.6914 14.3043 24.6914 13.6154C24.6914 12.9262 25.2327 12.3849 25.9219 12.3849C26.611 12.3849 27.1523 12.9262 27.1523 13.6154Z" fill="#3B352B"/>
                <path d="M33.3047 14.8461C33.9843 14.8461 34.5352 14.2952 34.5352 13.6156C34.5352 12.936 33.9843 12.3851 33.3047 12.3851C32.6251 12.3851 32.0742 12.936 32.0742 13.6156C32.0742 14.2952 32.6251 14.8461 33.3047 14.8461Z" fill="#3B352B"/>
            </g>
            <defs>
                <filter id="filter0_d_9324_24802" x="-6" y="7.92395" width="44.0742" height="41.5349" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="3"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9324_24802"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9324_24802" result="shape"/>
                </filter>
                <filter id="filter1_d_9324_24802" x="3.92578" y="0.541138" width="44.0742" height="41.5349" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="3"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9324_24802"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9324_24802" result="shape"/>
                </filter>
                <linearGradient id="paint0_linear_9324_24802" x1="32.2903" y1="37.6631" x2="1.16446" y2="27.7086" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F1EDE4"/>
                <stop offset="0.474656" stop-color="#B6AD98"/>
                <stop offset="1" stop-color="#F1EDE4"/>
                </linearGradient>
                <linearGradient id="paint1_linear_9324_24802" x1="42.216" y1="30.2803" x2="11.0902" y2="20.3258" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F1EDE4"/>
                <stop offset="0.474656" stop-color="#B6AD98"/>
                <stop offset="1" stop-color="#F1EDE4"/>
                </linearGradient>
                <clipPath id="clip0_9324_24802">
                <rect width="42" height="42" fill="white"/>
                </clipPath>
            </defs>
            </svg>
        </div>
        <div class="body-medium">Talk to us now</div>
      </button>
    </modal-opener>       
    <modal-dialog id="ProductPopup-contact-member" class="product-popup-modal">
      <div role="dialog" aria-label="{{ block.settings.title }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-desktop-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'svg-icons' with 'close' %}</button>
        <scroll-shadow>
          <div class="product-popup-modal__content-info">										
            <div class="talk-us">
              <div class="talk-contact-full">
                <div class="talk-contact-form" id="talkPopup">
                  <div class="form-header">
                    <div class="small-12">
                      <h3 class="h3">Need Help or Have Questions? Call, Chat or Contact Us</h3>
                      <p class="body-small form-desc">To speak with one of our qualified experts, simply fill out form or call us now.</p>
                      <p class="body-large form-call">
                        <a href="tel:+1800.308.8057">
                               <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <rect x="0.9375" y="0.9375" width="26.125" height="26.125" rx="13.0625" stroke="#900000" stroke-width="1.875"/>
                                <path d="M10.7256 7.44543C10.0645 6.89996 9.1135 6.99376 8.6416 7.64758V7.64856C8.49392 7.85215 8.33091 8.08721 8.0752 8.422L7.78613 8.79309C7.3018 9.40537 7.01078 10.145 6.94629 10.9181L6.93262 11.2521C6.93377 12.1443 7.23682 13.0097 7.79199 13.7081C8.71839 14.8576 9.68239 16.0067 10.7578 17.0822C11.8314 18.1558 12.9808 19.1197 14.1289 20.047C14.8272 20.6037 15.6939 20.9081 16.5869 20.9093C17.4797 20.9104 18.3472 20.6094 19.0469 20.0548H19.0459C19.6206 19.5955 19.9523 19.374 20.2305 19.172C20.8623 18.7128 20.9643 17.8042 20.4521 17.17V17.1691C19.8646 16.4402 19.1947 15.7481 18.5381 15.0548L18.5391 15.0538C18.394 14.9059 18.1973 14.8194 17.9902 14.8097C17.7815 14.7999 17.5768 14.8702 17.418 15.006C17.116 15.2635 16.8853 15.4509 16.3525 15.9513L16.1426 16.1476L15.8955 16.0011C14.0479 14.904 12.916 13.7587 11.8379 11.9454L11.6914 11.6974L11.8887 11.4884C12.3923 10.9523 12.5794 10.7212 12.8389 10.4161L12.8398 10.4142L12.9297 10.2892C13.0061 10.1559 13.0427 10.0023 13.0352 9.8468C13.0252 9.64096 12.9372 9.44696 12.7891 9.30383C12.1102 8.66945 11.432 8.02778 10.7256 7.44543Z" fill="#900000" stroke="#900000" stroke-width="0.764711"/>
                                </svg>
                          <span>800.308.8057</span>
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="align-center">
                    <div class="small-12 contact-form--form-column">
                      <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

                      <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8&orgId=00D8c000002heT1" method="POST">

                          <input type=hidden name="oid" value="00D8c000002heT1">
                          <input type=hidden name="retURL" value="https://thermosoftonline.myshopify.com/pages/thank-you">

                          <div class="row no-padding">
                            <div class="small-12 columns">
                                <div class="field">
                                  <input class="full" id="first_name" maxlength="40" name="first_name" size="20" type="text" required /><label for="first_name">First Name</label>
                                </div>
                            </div> 
                            <div class="small-12 columns">
                              <div class="field">
                                <input class="full" id="last_name" maxlength="80" name="last_name" size="20" type="text" /><label for="last_name">Last Name</label>
                              </div>
                            </div>   
                            <div class="small-12 columns">
                              <div class="field">
                                <input class="full" id="email" maxlength="80" name="email" size="20" type="text" required /><label for="email">Email</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="field">                
                                {% comment %} placeholder="(555) 555-1234" {% endcomment %}
                                <input class="full" id="phone" name="phone" type="tel" maxlength="40" required><label for="phone">Phone</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="field">
                                <input class="full" id="company" maxlength="40" name="company" size="20" type="text" /><label for="company">Company</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="field">
                                <input class="full" id="city" maxlength="40" name="city" size="20" type="text" /><label for="city">City</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="field">
                                <input class="full" id="state" maxlength="20" name="state" size="20" type="text" /><label for="state">State/Province</label>
                              </div>
                            </div>
                            <div class="small-12 columns">
                              <div class="field">
                                <input class="full" id="zip" maxlength="20" name="zip" size="20" type="text" /><label for="zip">Zip</label>
                              </div>
                            </div>
                            <div class="small-12 medium-12 columns">
                              <input class="full" type="submit" name="submit">
                            </div>
                          </div>

                      </form>
                      {% comment %} {% form 'contact', class: form_class %}
                        {% if form.posted_successfully? %}
                          <div class="form-notification success">
                            {% render 'svg-icons' with 'thb-success' %} {{ 'sections.contact.form.post_success' | t }}
                          </div>
                        {%- elsif form.errors %}
                          <div class="form-notification error">
                            {% render 'svg-icons' with 'thb-error' %} {{ 'sections.contact.form.error_heading' | t }} {{ form.errors | default_errors }}
                          </div>
                        {% endif %}
                        <div class="row no-padding">
                          <div class="small-12">
                            <div class="field">
                              <input id="ContactFormCompany" type="text" class="full" name="contact[{{ 'sections.contact.form.company' | t | escape }}]" aria-label="{{ 'sections.contact.form.company' | t | escape }}" placeholder="Company (Optional)">
                              <label for="ContactFormCompany">Company (Optional)</label>
                            </div>
                          </div>
                          <div class="small-12 medium-12">
                            <div class="field">
                              <input type="text" id="ContactFormName" name="contact[name]" class="full" placeholder="{{ 'sections.contact.form.name' | t | escape }}" required>
                              <label for="ContactFormName">{{ 'sections.contact.form.name' | t }}*</label>
                            </div>
                          </div>
                          <div class="small-12 medium-12">
                            <div class="field">
                              <input type="tel" id="ContactFormPhone" name="contact[phone]" class="full" placeholder="{{ 'sections.contact.form.phone' | t | escape }}" required>
                              <label for="ContactFormPhone">{{ 'sections.contact.form.phone' | t }}*</label>
                            </div>
                          </div>
                          <div class="small-12 medium-12">
                            <div class="field email-field">
                              <input type="email" id="ContactFormEmail" name="contact[email]" class="full" placeholder="{{ 'sections.contact.form.email' | t | escape }}" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,10})(\]?)$" required>
                              <label for="ContactFormEmail">{{ 'sections.contact.form.email' | t }}*</label>
                            </div>
                          </div>
                          <div class="small-12">
                            <div class="field">
                              <input id="ContactFormPostalCode" type="text" class="full" name="contact[ZIP/Postal Code]" aria-label="ZIP/Postal Code" placeholder="ZIP/Postal Code">
                              <label for="ContactFormPostalCode">ZIP/Postal Code</label>
                            </div>
                          </div>
                          <div class="small-12">
                            <div class="field select">
                              <select class="full" name="Select option" title="Select option" required>
                                <option value="" disabled selected>I am interested in heating...</option>
                                <option value="Value 1">Floor Heating</option>
                                <option value="Value 2">Roof & Gutter Heating</option>
                                <option value="Value 3">Driveway & Walkway Heating</option>
                                <option value="Value 4">Soil Heating</option>
                                <option value="Value 5">Bathtub Heating</option>
                              </select>
                            </div>
                          </div>
                          <div class="small-12 ">
                            <div class="field">
                              <textarea id="ContactFormProjectDescription" name="contact[Project Description]" cols="15" rows="5" class="full" aria-label="Project Description" placeholder="Project Description"></textarea>
                              <label for="ContactFormProjectDescription">Project Description</label>
                            </div>
                          </div>
                          <div class="small-12 medium-12">
                            <button type="submit" class="button full call-btn"><span>Submit</span></button>
                          </div>
                        </div>
                      {% endform %} {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </scroll-shadow>
      </div>
    </modal-dialog>
  </div>
</div>
        {% comment %} <div class="go-pro">
            <a href="/pages/professional">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="50" viewBox="0 0 48 50" fill="none" class="arrow-svg">
                <g filter="url(#filter0_d_9177_13939)">
                    <path d="M21.0138 44.0852L41.1644 39.627C41.3839 39.5783 41.5892 39.4806 41.7646 39.3412C41.9401 39.2018 42.0813 39.0244 42.1775 38.8224C42.2737 38.6203 42.3224 38.3989 42.32 38.1748C42.3176 37.9507 42.2641 37.7298 42.1636 37.5287L32.9232 19.0729C32.7884 18.8034 32.5746 18.5807 32.3103 18.4342C32.046 18.2877 31.7437 18.2244 31.4435 18.2527C31.1432 18.281 30.8592 18.3995 30.6293 18.5926C30.3993 18.7857 30.2341 19.0441 30.1558 19.3337L28.6256 25.0076C13.6015 21.797 11.4034 11.9146 11.4482 6.23425C11.4537 5.40501 10.0571 4.9005 9.63377 5.60937C-1.25497 24.0076 10.1354 32.8468 23.0692 36.7881L19.4704 41.7751C19.2951 42.0181 19.1984 42.3089 19.1932 42.6089C19.188 42.9089 19.2745 43.204 19.4413 43.4549C19.6081 43.7059 19.8473 43.9009 20.1272 44.0142C20.4071 44.1275 20.7144 44.1536 21.0085 44.0892" fill="url(#paint0_linear_9177_13939)"/>
                </g>
                <defs>
                    <filter id="filter0_d_9177_13939" x="0.000455379" y="8.91685e-05" width="47.5919" height="49.3957" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="2.636"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.6 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9177_13939"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9177_13939" result="shape"/>
                    </filter>
                    <linearGradient id="paint0_linear_9177_13939" x1="8.70376" y1="6.4641" x2="37.5649" y2="38.6929" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F1EDE4"/>
                    <stop offset="0.474656" stop-color="#B6AD98"/>
                    <stop offset="1" stop-color="#F1EDE4"/>
                    </linearGradient>
                </defs>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
                    <path d="M12.1143 12.7599C12.3865 16.3357 13.8087 14.7944 14.1021 16.3614C14.5899 18.9661 16.896 20.8499 18.3315 21.5007C19.169 21.8801 20.0314 22.0705 20.9382 22.0857V22.0865C20.9413 22.0865 20.9445 22.0862 20.9476 22.0862C20.9507 22.0862 20.9539 22.0865 20.957 22.0865V22.0857C21.8637 22.0705 22.7261 21.8802 23.5637 21.5007C24.9992 20.8499 27.3053 18.9661 27.7931 16.3614C28.0865 14.7945 29.5087 16.3357 29.7809 12.7599C29.7809 11.3349 29.0045 10.9802 29.0045 10.9802C29.0045 10.9802 29.3992 8.87095 29.5538 7.24791C29.7453 5.22518 28.3731 0 21.0534 0C21.0213 0 20.9917 0.00174531 20.9604 0.00209437C20.9593 0.00209437 20.9582 0.00209437 20.9571 0.0020071V0.00165804C20.954 0.00174531 20.9508 0.00183257 20.9477 0.00183257C20.9445 0.00183257 20.9414 0.00174531 20.9383 0.00165804V0.00209437C20.9371 0.00218163 20.9361 0.00218163 20.9349 0.00218163C20.9037 0.00174531 20.874 8.72653e-05 20.842 8.72653e-05C13.5224 8.72653e-05 12.15 5.22527 12.3416 7.24799C12.4961 8.87104 12.8909 10.9803 12.8909 10.9803C12.8909 10.9803 12.1143 11.3349 12.1143 12.7599Z" fill="url(#paint0_linear_8784_13706)"/>
                    <path d="M37.5517 30.3134C33.8597 28.4352 28.5084 26.0893 28.2516 26.0065C28.2487 26.0054 28.2465 26.0052 28.2437 26.0044C28.0935 25.9509 27.9321 25.9212 27.7634 25.9212C27.1362 25.9212 26.6041 26.323 26.4067 26.8829C26.4057 26.8822 26.4046 26.8818 26.4036 26.8811C25.4506 29.1775 23.7002 33.2709 22.6133 35.2448L22.3515 29.711C22.3515 29.711 23.9838 26.2467 24.1624 25.9293C24.583 25.1854 24.2042 24.552 23.4157 24.552C23.0246 24.552 22.0461 24.552 21.066 24.552C21.0648 24.552 21.0638 24.552 21.0627 24.552C21.0564 24.552 21.0501 24.552 21.0438 24.552C21.0427 24.552 21.0416 24.552 21.0405 24.552C21.0271 24.552 21.0136 24.552 21.0002 24.552C20.9867 24.552 20.9733 24.552 20.9599 24.552C20.9587 24.552 20.9577 24.552 20.9566 24.552C20.9503 24.552 20.944 24.552 20.9377 24.552C20.9366 24.552 20.9355 24.552 20.9344 24.552C19.9544 24.552 18.976 24.552 18.5847 24.552C17.7962 24.552 17.4174 25.1854 17.838 25.9293C18.0167 26.2467 19.6489 29.711 19.6489 29.711L19.3872 35.2448C18.3003 33.2709 16.5498 29.1778 15.5969 26.8811C15.5958 26.8818 15.5948 26.8822 15.5938 26.8829C15.3964 26.3232 14.8643 25.9212 14.237 25.9212C14.0684 25.9212 13.9069 25.9509 13.7567 26.0044C13.7539 26.0054 13.7518 26.0057 13.7489 26.0065C13.4921 26.0893 8.14077 28.4352 4.44875 30.3134C2.79071 31.1569 1.79004 32.206 1.79004 33.3101C1.79004 36.9601 1.79004 42 1.79004 42H20.9209H20.9376H20.9468H20.9473H20.9566H20.9733H21.0003H21.0272H21.0439H21.0531H21.0536H21.0628H21.0794H40.2104C40.2104 42 40.2104 36.9601 40.2104 33.3101C40.2103 32.206 39.2097 31.1569 37.5517 30.3134Z" fill="url(#paint1_linear_8784_13706)"/>
                    <defs>
                        <linearGradient id="paint0_linear_8784_13706" x1="20.9476" y1="0" x2="31" y2="30.5" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#900000"/>
                        <stop offset="0.538462" stop-color="#470000"/>
                        <stop offset="1" stop-color="#900000"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_8784_13706" x1="19" y1="19" x2="29.5" y2="42" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#900000"/>
                        <stop offset="0.538462" stop-color="#470000"/>
                        <stop offset="1" stop-color="#900000"/>
                        </linearGradient>
                    </defs>
                </svg>
                <h6>Pros Go Here!</h6>
            </a>
        </div> {% endcomment %}
    </div>
</div>
{% comment %} <div class="overlay-clr"></div> {% endcomment %}


{% style %}
  .contact-member {
    position: fixed;
    z-index: 50;
    width: 100%;
    bottom: 15%;
    pointer-events: none;
  }
  .contact-member-content {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .contact-member-button {
    max-width: 124px;
    padding: 13px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: #900000;
    color: #FFFFFF;
    font-variation-settings: "wdth" 80;
    pointer-events: auto;
    cursor: pointer;
  }
  .form-call {
    display: flex;
    align-items: center;
    gap: 5px;
}
.form-call a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-accent);
    position: relative;
}
.form-call a::after {
    position: absolute;
    content: '';
    width: 80%;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid;
}
  .product-popup-modal__content-info .select select {
    content: '';
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 10L12 14L8 10" stroke="%23151616" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right 18px center;
    padding-right: 40px;
    background-size: 24px;
  }
  .contact-pro {
    position: fixed;
    z-index: 50;
    width: 100%;
    bottom: 13%;
    pointer-events: none;
}
.contact-pro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  .go-pro {
    pointer-events: auto;
    cursor: pointer;
    display: none;
}
  .template-index .go-pro {
    display: block;
}
.go-pro a svg {
    box-shadow: 0 0 5.272px 0 rgba(0, 0, 0, 0.60);
    background: #D0CCC0;
    border-radius: 4px;
    border: 0.879px solid #F1EDE4;
    padding: 10px;
    width: 62px;
    height: 62px;
}
.go-pro a h6 {
    color: #FFF;
    max-width: 50px;
    margin: 0;
    text-align: center;
}
.go-pro a svg.arrow-svg {
    position: absolute;
    background: transparent;
    box-shadow: none;
    top: -8px;
    left: -24px;
    border: navajowhite;
    padding: 5px;
}
.go-pro a {
    display: flex;
    padding: 8px 20px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #8E8B78;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px 0 0 4px;
    position: relative;
}
.contact-member-pro .contact-member-button {
    border-radius: 0 4px 4px 0;
}

  @media screen and (max-width: 992px) {
    .contact-member-button {
        max-width: 84px;
        padding: 5px 10px;
        border-radius: 4px 0 0 4px;
    }
    .contact-member-button svg {
        width: 40px;
        height: 22px;
    }
    .contact-member-button .body-extra-small {
        line-height: 14px;
    }
    .contact-member {
        bottom: 13%;
    }
     .go-pro a {
       padding: 8px 10px 8px 8px;
       gap: 8px;
    }
    .go-pro a h6 {max-width: 39px;font-size: 14px;line-height: 14px;text-align: center;}
    .go-pro a svg {
        padding: 4px;
        width: 32px;
        height: 32px;
    }
    .go-pro a svg.arrow-svg {
        top: -5px;
        left: -12px;
        padding: 5px;
    }
    .contact-member-pro .contact-member-content .body-medium {
        font-size: 14px;
        line-height: 14px;
    }
    .contact-member-pro .contact-member-content {
        max-width: 56px;
    }
  }
{% endstyle %}
<script src="{{ 'modal-dialog.js' | asset_url }}" defer="defer"></script>
