<div class="split-section" id="splitPopup">
  <a href="/" class="split left">
    <img src="{{ settings.split_left | img_url: 'master' }}" alt="Homeowner">
    <div class="split-overlay">
      <h3 class="body-large">{{ settings.left_heading }}</h3>
      <p>{{ settings.left_desc }}</p>
    </div>
  </a>
  <a href="https://thermosoftonline.myshopify.com/pages/professional" class="split right">
    <img src="{{ settings.split_right | img_url: 'master' }}" alt="Professional">
    <div class="split-overlay">
      <h3 class="body-large">{{ settings.right_heading }}</h3>
      <p>{{ settings.right_desc }}</p>
    </div>
  </a>

  <div class="bottom-bar">
    <p>For Commercial and Industrial projects - Contact Us Directly</p>
  </div>

  <div class="popup-contact-form">
    <button class="close-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17" fill="none">
      <path d="M13 1L1 13M13 13L1 1" stroke="#252626" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <div class="form-header">
      <div class="small-12">
        <h3 class="h3">Need Help or Have Questions? Call, Chat or Contact Us</h3>
              <p class="body-small form-desc">To speak with one of our qualified experts, simply fill out form or call us now.</p>
              <p class="body-large form-call">
                  <a href="tel:+1800.308.8057">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <rect x="0.9375" y="0.9375" width="26.125" height="26.125" rx="13.0625" stroke="#900000" stroke-width="1.875"/>
                        <path d="M10.7256 7.44543C10.0645 6.89996 9.1135 6.99376 8.6416 7.64758V7.64856C8.49392 7.85215 8.33091 8.08721 8.0752 8.422L7.78613 8.79309C7.3018 9.40537 7.01078 10.145 6.94629 10.9181L6.93262 11.2521C6.93377 12.1443 7.23682 13.0097 7.79199 13.7081C8.71839 14.8576 9.68239 16.0067 10.7578 17.0822C11.8314 18.1558 12.9808 19.1197 14.1289 20.047C14.8272 20.6037 15.6939 20.9081 16.5869 20.9093C17.4797 20.9104 18.3472 20.6094 19.0469 20.0548H19.0459C19.6206 19.5955 19.9523 19.374 20.2305 19.172C20.8623 18.7128 20.9643 17.8042 20.4521 17.17V17.1691C19.8646 16.4402 19.1947 15.7481 18.5381 15.0548L18.5391 15.0538C18.394 14.9059 18.1973 14.8194 17.9902 14.8097C17.7815 14.7999 17.5768 14.8702 17.418 15.006C17.116 15.2635 16.8853 15.4509 16.3525 15.9513L16.1426 16.1476L15.8955 16.0011C14.0479 14.904 12.916 13.7587 11.8379 11.9454L11.6914 11.6974L11.8887 11.4884C12.3923 10.9523 12.5794 10.7212 12.8389 10.4161L12.8398 10.4142L12.9297 10.2892C13.0061 10.1559 13.0427 10.0023 13.0352 9.8468C13.0252 9.64096 12.9372 9.44696 12.7891 9.30383C12.1102 8.66945 11.432 8.02778 10.7256 7.44543Z" fill="#900000" stroke="#900000" stroke-width="0.764711"/>
                      </svg>
                      800.308.8057
                  </a>
              </p>
      </div>
    </div>
    <div class="align-center">
      <div class="small-12 contact-form--form-column ">
        {% form 'contact', class: form_class %}
          {% if form.posted_successfully? %}
          <div class="form-notification success">
            {% render 'svg-icons' with 'thb-success' %} {{ 'sections.contact.form.post_success' | t }}
          </div>
          {%- elsif form.errors %}
          <div class="form-notification error">
            {% render 'svg-icons' with 'thb-error' %} {{ 'sections.contact.form.error_heading' | t }} {{ form.errors | default_errors }}
          </div>
          {% endif %}
          <div class="row no-padding">
              <div class="small-12">
                  <div class="field">
                      <input id="{{ block.id }}" type="text" class="full" name="contact[{{ field_title | escape }}]" aria-label="Company (Optional)" placeholder="Company (Optional)" {% if block.settings.is_required %}required{% endif %}>
                      <label for="{{ block.id }}">Company (Optional)</label>
                  </div>
              </div>
              <div class="small-12 medium-12">
              <div class="field">
                  <input type="text" id="ContactFormName" name="contact[name]" class="full" placeholder="{{ 'sections.contact.form.name' | t | escape }}">
                  <label for="ContactFormName">{{ 'sections.contact.form.name' | t }}</label>
              </div>
              </div>
              <div class="small-12 medium-12">
              <div class="field">
                  <input type="tel" id="ContactFormPhone" name="contact[phone]" class="full" placeholder="{{ 'sections.contact.form.phone' | t | escape }}">
                  <label for="ContactFormPhone">{{ 'sections.contact.form.phone' | t }}</label>
              </div>
              </div>
              <div class="small-12 medium-12">
                  <div class="field first email-field">
                      <input
                      type="email"
                      id="ContactFormEmail"
                      name="contact[email]"
                      class="full"
                      placeholder="{{ 'sections.contact.form.email' | t | escape }}"
                      pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,10})(\]?)$"
                      required>
                      <label for="ContactFormEmail">{{ 'sections.contact.form.email' | t }}</label>
                  </div>
              </div>
              <div class="small-12">
                  <div class="field">
                      <input id="{{ block.id }}" type="text" class="full" name="contact[{{ field_title | escape }}]" aria-label="ZIP/Postal Code" placeholder="ZIP/Postal Code" {% if block.settings.is_required %}required{% endif %}>
                      <label for="{{ block.id }}">ZIP/Postal Code</label>
                  </div>
              </div>
              <div class="small-12">
                  <div class="field select">
                  <select class="full" name="" title="" required>
                      <option value="" disabled selected>I am interested in heating...</option>
                      <option value="Value 1">Floor Heating</option>
                      <option value="Value 2">Roof & Gutter Heating</option>
                      <option value="Value 3">Driveway & Walkway Heating</option>
                      <option value="Value 4">Soil Heating</option>
                      <option value="Value 5">Bathtub Heating</option>
                  </select>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M16 10L12 14L8 10" stroke="#151616" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  <label for="{{ block.id }}"></label>
                  </div>
              </div>
              <div class="small-12 ">
                  <div class="field">
                          <textarea id="{{ block.id }}" name="contact[{{ field_title | escape }}]" cols="15" rows="5" class="full" aria-label="Project Description" placeholder="Project Description" {% if block.settings.is_required %}required{% endif %}></textarea>
                          <label for="{{ block.id }}">Project Description</label>
                  </div>
              </div>
              {%- for block in section.blocks -%}
              {%- liquid
                  assign field_title = block.settings.title
                  if field_title == blank
                  capture field_title
                      echo 'Custom field ' | append: field_index
                  endcapture
                  endif
              -%}
              {%- case block.type -%}
                  {%- when 'text_field' -%}
                  <div class="small-12 ">
                  <div class="field">
                  {%- if block.settings.use_long_text -%}
                      <textarea id="{{ block.id }}" name="contact[{{ field_title | escape }}]" cols="30" rows="10" class="full" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}></textarea>
                      <label for="{{ block.id }}">{{ block.settings.title | escape }}</label>
                  {%- else -%}
                      <input id="{{ block.id }}" type="text" class="full" name="contact[{{ field_title | escape }}]" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}>
                      <label for="{{ block.id }}">{{ block.settings.title | escape }}</label>
                  {%- endif -%}
                  </div>
                  </div>
                  {%- assign field_index = field_index | plus: 1 -%}
              
              {%- endcase -%}
              {%- endfor -%}
              <div class="small-12 medium-12">
              <button type="submit" class="button full call-btn"><span>Submit</span></button>
              </div>
        </div>
        {% endform %}
      </div>
      {%- if text_blocks.size > 0 -%}
        <div class="small-12 medium-4 columns contact-form--text-column">
          {% for block in section.blocks %}
            {%- if block.type == 'text' -%}
            <div class="contact-form-block" {{ block.shopify_attributes }}>
              <strong>{{ block.settings.heading }}</strong>
              <div class="rte">
                {{ block.settings.text }}
              </div>
            </div>
            {%- endif -%}
          {% endfor %}
        </div>
      {%- endif -%}
    </div>
</div>
<div class="overlay-bg"></div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const contactForm = document.querySelector('.popup-contact-form');
  const openBtn = document.querySelector('.bottom-bar');
  const closeBtn = document.querySelector('.close-btn');
  const overlay = document.querySelector('.overlay-bg');

  openBtn.addEventListener('click', function(e) {
    e.preventDefault();
    contactForm.classList.add('active');
    overlay.classList.add('active');
  });

  closeBtn.addEventListener('click', function() {
    contactForm.classList.remove('active');
    overlay.classList.remove('active');
  });

  overlay.addEventListener('click', function() {
    contactForm.classList.remove('active');
    overlay.classList.remove('active');
  });
});
</script>



<style>
.split-section {
    display: none !important; 
    flex-wrap: wrap;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
}
.split {
  flex: 1;
  overflow: hidden;
}

.split img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  transition: transform 0.5s ease;
}

.split-overlay {
    position: absolute;
    bottom: 21%;
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding: 13px 30px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
    max-width: 590px;
    width: 100%;
    min-height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left .split-overlay {
    right: calc(50% + 50px);
}
.right .split-overlay {
    left: calc(50% + 50px);
}

.split-overlay h3 {
  margin: 0 0 5px;
  font-weight: 500;
}

.split-overlay p {
    margin: 0 auto;
    max-width: 480px;
}

.bottom-bar {
    position: absolute;
    bottom: calc(18% - 70px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: #4a0e0e;
    padding: 13px 30px;
    border-radius: 4px;
}

.bottom-bar p {
  color: #fff;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}
.popup-contact-form {
	display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    height: 95%;
    background: #FFF;
    padding: 50px;
    border-radius: 15px;
    z-index: 100;
    margin-top: 25px;
}
.popup-contact-form.active {
    display: block;
}
.form-desc {
    margin-bottom: 8px;
}
.form-call {
    display: flex;
    align-items: center;
	gap: 5px;
}
.form-call a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-accent);
    position: relative;
}
.form-call a::after {
    position: absolute;
    content: '';
    width: 80%;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid;
}
.first.email-field input {
    margin-bottom: 20px;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 50px;
}
.overlay-bg {
  display: none;
  position: fixed;
  inset: 0;
  opacity: 0.4;
  background: #9FA3A7;	
  z-index: 8;
}

.overlay-bg.active {
  display: block;
}
.split-section a:hover {
    color: #252626;
}
.contact-form--form-column .field select~svg {
    position: absolute;
    top: 15px;
    right: 15px;
}

@media screen and (max-width: 1399px) {
    .split-overlay {
      max-width: 415px;
      width: unset;
  }
}
@media screen and (max-width: 992px) {
    .split-overlay {
      max-width: 415px;
      width: 100%;
      max-width: 352px;
     padding: 10px 15px;
  }
  .split-section {
    flex-direction: column;
  }
  .bottom-bar {
    position: unset;
    width: 100%;
    transform: unset;
    text-align: center;
    background: #4a0e0e;
    padding: 13px 30px;
    border-radius: 0;
  }
  .split {
    position: relative;
  }
  .left .split-overlay {
    right: 50%;
    bottom: 23px;
    transform: translateX(50%);
  }
  .right .split-overlay {
    left: 50%;
    transform: translateX(-50%);
    bottom: 23px;
  }
  .popup-contact-form {
    padding: 50px 25px 25px;
    min-width: 380px;
  }
  .close-btn {
    right: 25px;
  }
  .form-header .h3 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 420px) { 
  .popup-contact-form {
    min-width: 370px;
  }
}

</style>