<a href="{{ url }}" title="{{ title | escape }}" role="link" class="text-button {{ class }} text-button--has-icon" {% if disabled %}aria-disabled="true"{% endif %} {% if block %}{{ block.shopify_attributes }}{% endif %}>
    <div>{% if call %}
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
		<rect x="1.21875" y="1.21875" width="23.5625" height="23.5625" rx="11.7812" stroke="#900000" stroke-width="2.4375"></rect>
		<path d="M9.81543 7.02298C9.25762 6.56269 8.47079 6.65184 8.08594 7.18509L8.08496 7.18607C7.94902 7.37347 7.7968 7.59362 7.55762 7.90677L7.28711 8.25345C6.79309 8.87813 6.52446 9.65133 6.52539 10.4478C6.5264 11.2449 6.79757 12.0184 7.29395 12.6421C8.15276 13.7077 9.04359 14.7697 10.0361 15.7622C11.0282 16.7543 12.0915 17.6456 13.1572 18.5064C13.7802 19.0021 14.5525 19.2729 15.3486 19.274C16.1454 19.275 16.9195 19.0061 17.5439 18.5113H17.543C18.08 18.082 18.3922 17.8724 18.6475 17.687C19.1635 17.312 19.2555 16.5632 18.8271 16.0327V16.0318C18.2872 15.3619 17.6718 14.7258 17.0615 14.0816C16.9516 13.9682 16.8023 13.9005 16.6445 13.8931C16.4868 13.8857 16.3319 13.9389 16.2119 14.0415V14.0425C15.9311 14.282 15.7194 14.4537 15.2275 14.9156L14.9551 15.1714L14.6338 14.98C12.8975 13.949 11.8295 12.8685 10.8164 11.1646L10.626 10.8433L10.8818 10.5699C11.3466 10.0751 11.5187 9.86399 11.7598 9.5806L11.7617 9.57767C11.8634 9.45936 11.9157 9.30675 11.9082 9.15091C11.9025 9.03375 11.8639 8.92104 11.7969 8.82669L11.7207 8.7388C11.0906 8.14993 10.4657 7.55908 9.81543 7.02298Z" fill="#900000" stroke="#900000" stroke-width="0.994124"></path>
	</svg>
    {% endif %}    
    {{ title }}
    {% if arrow %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
       <path d="M10 16L14 12L10 8" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
{% endif %}
</div>
</a>
