{{- 'rich-text.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign text_width = section.settings.text_width
	assign text_position = section.settings.text_position
	assign text_alignment = section.settings.text_alignment

	assign color_bg = section.settings.color_bg | downcase
	assign color_heading = section.settings.color_heading
	assign color_text = section.settings.color_text
	assign color_links = section.settings.color_links

	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	assign heading_class = ''
	if color_heading contains 'gradient'
		assign heading_class = 'heading-has-gradient'
	endif

	assign color_body_bg = settings.color_body_bg | downcase

	assign transparent = false
	if color_body_bg == color_bg or color_bg == 'transparent' or color_bg == 'rgba(0,0,0,0)'
		assign transparent = true
	endif

	assign desktop_spacing_top = section.settings.desktop_spacing_top
	assign desktop_spacing_bottom = section.settings.desktop_spacing_bottom
	assign mobile_spacing_top = section.settings.mobile_spacing_top
	assign mobile_spacing_bottom = section.settings.mobile_spacing_bottom
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
-%}

{% style %}
	#shopify-section-{{ section.id }} {
		--section-spacing-mobile-top: {{ mobile_spacing_top | default: '15' | append: 'px' }};
		--section-spacing-mobile-bottom: {{ mobile_spacing_bottom | default: '15' | append: 'px' }};
		--section-spacing-desktop-top: {{ desktop_spacing_top | default: '30' | append: 'px' }};
		--section-spacing-desktop-bottom: {{ desktop_spacing_bottom | default: '30' | append: 'px' }};
	}
	.rich-text__inner .button.accent {--color-accent-hover: #716b4a;}
{% endstyle %}

{% assign title = page.metafields.custom.indoor_richtext_heading.value %}
{% assign discription = page.metafields.custom.indoor_richtext_description %}

{% if title != blank %}
<div class="row">
	<div class="small-12 columns">
		<div class="rich-text rich-text--transparent-{{ transparent }} text-{{ text_alignment }} text-position-{{ text_position }} text-width-{{ text_width }} {% if transparent %}section-spacing-padding{% else %}section-spacing{% endif %}{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--color-bg: {{ color_bg }}; --color-heading: {{ color_heading }}; --color-text: {{ color_text }}; --solid-button-background: {{ color_text }}; --bg-body: {{ color_bg }}; --color-accent: {{ color_links }}; --color-accent-rgb: {{ color_links.rgb | replace: ' ' , ',' }};">
			<div class="rich-text__inner">
				{% for block in section.blocks %}
					{%- case block.type -%}
						{%- when 'heading' -%}
							<h2 class="{{ block.settings.size }} {{ heading_class }}" {{ block.shopify_attributes }}>{{ title }}</h2>
						{%- when 'text' -%}
							<div class="rte {{ block.settings.size }}" {{ block.shopify_attributes }}>
								{{ discription | metafield_tag }}
							</div>
					{%- endcase -%}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{% schema %}
  	{
		"name": "Meta Rich text",
		"class": "section-rich-text",
		"settings": [
			{
				"type": "select",
				"id": "text_width",
				"label": "Content width",
				"options": [
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "medium",
						"label": "Medium"
					},
					{
						"value": "large",
						"label": "Large"
					},
					{
						"value": "xlarge",
						"label": "Extra large"
					},
					{
						"value": "grid",
						"label": "Grid"
					}
				],
				"default": "medium"
			},
			{
				"type": "select",
				"id": "text_position",
				"label": "Content position",
				"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "right",
						"label": "Right"
					}
				],
				"default": "center"
			},
			{
				"type": "select",
				"id": "text_alignment",
				"label": "Content alignment",
				"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "right",
						"label": "Right"
					}
				],
				"default": "center"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "color_bg",
				"label": "Background",
				"default": "transparent"
			},
			{
				"type": "color_background",
				"id": "color_heading",
				"label": "Heading",
				"default": "#1a1c1d"
			},
			{
				"type": "color",
				"id": "color_text",
				"label": "Text",
				"default": "#2c2d2e"
			},
			{
				"type": "color",
				"id": "color_links",
				"label": "Links",
				"default": "#2c2d2e"
			},
			{
				"type": "header",
				"content": "Spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			},
			
			{
				"type": "header",
				"content": "Desktop spacing"
			},
			{
				"type": "range",
				"id": "desktop_spacing_top",
				"min": 0,
				"max": 200,
				"step": 5,
				"unit": "px",
				"label": "Desktop spacing top",
				"default": 100,
				"info": "Changes the section top spacing in desktop screens."
			},
			{
				"type": "range",
				"id": "desktop_spacing_bottom",
				"min": 0,
				"max": 200,
				"step": 5,
				"unit": "px",
				"label": "Desktop spacing bottom",
				"default": 100,
				"info": "Changes the section bottom spacing in desktop screens."
			},
			{
				"type": "header",
				"content": "Mobile spacing"
			},
			{
				"type": "range",
				"id": "mobile_spacing_top",
				"min": 0,
				"max": 200,
				"step": 5,
				"unit": "px",
				"label": "Mobile spacing top",
				"default": 50,
				"info": "Changes the section top spacing in mobile screens."
			},
			{
				"type": "range",
				"id": "mobile_spacing_bottom",
				"min": 0,
				"max": 200,
				"step": 5,
				"unit": "px",
				"label": "Mobile spacing bottom",
				"default": 50,
				"info": "Changes the section bottom spacing in mobile screens."
			}
    	],
		"blocks": [
			{
				"type": "heading",
				"name": "Heading",
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Talk about your brand",
						"info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
					},
					{
						"type": "select",
						"id": "marker_style",
						"options": [
							{
								"value": "style1",
								"label": "Basic"
							},
							{
								"value": "style2",
								"label": "Double"
							},
							{
								"value": "style3",
								"label": "Squiggle"
							},
							{
								"value": "style4",
								"label": "Zigzag"
							}
						],
						"default": "style1",
						"label": "Marker"
					},
					{
						"type": "select",
						"id": "size",
						"label": "Size",
						"options": [
							{
								"value": "h1",
								"label": "Extra Large"
							},
										{
								"value": "h2",
								"label": "Large"
							},
										{
								"value": "h3",
								"label": "Medium"
							},
										{
								"value": "h4",
								"label": "Small"
							}
						],
						"default": "h3"
					},
					{
						"type": "header",
						"content": "Colors"
					},
					{
						"type": "color",
						"id": "marker_color",
						"label": "Marker",
						"default": "#FD6262"
					}
				]
			},
      		{
				"type": "text",
				"name": "Text",
				"settings": [
					{
						"type": "richtext",
						"id": "text",
						"label": "Content",
						"default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
					},
					{
						"type": "liquid",
						"id": "custom_liquid",
						"label": "Custom liquid",
						"info": "Add app snippets or other Liquid code to create advanced customizations."
					},
					{
						"type": "select",
						"id": "size",
						"label": "Size",
						"options": [
									{
							"value": "text-size-large",
							"label": "Large"
						},
									{
							"value": "text-size-regular",
							"label": "Medium"
						},
									{
							"value": "text-size-small",
							"label": "Small"
						}
						],
						"default": "text-size-regular"
					}
				]
			}
		],
    	"presets": [
			{
				"name": "Meta Rich text",
				"blocks": [
					{
						"type": "heading"
					},
					{
						"type": "text"
					}
				]
			}
		],
		"enabled_on": {
			"templates": ["*"],
			"groups": [
				"header", "footer"
			]
		}
  	}
{% endschema %}
