{{- 'safety-certifications.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign section_heading = section.settings.heading
	assign marker_style = section.settings.marker_style
	assign section_description = section.settings.description

	assign desktop_spacing_top = section.settings.desktop_spacing_top
	assign desktop_spacing_bottom = section.settings.desktop_spacing_bottom
	assign mobile_spacing_top = section.settings.mobile_spacing_top
	assign mobile_spacing_bottom = section.settings.mobile_spacing_bottom
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
-%}

{% style %}
	#shopify-section-{{ section.id }} {
		--section-spacing-mobile-top: {{ mobile_spacing_top | default: '15' | append: 'px' }};
		--section-spacing-mobile-bottom: {{ mobile_spacing_bottom | default: '15' | append: 'px' }};
		--section-spacing-desktop-top: {{ desktop_spacing_top | default: '30' | append: 'px' }};
		--section-spacing-desktop-bottom: {{ desktop_spacing_bottom | default: '30' | append: 'px' }};
	}
{% endstyle %}

<div class="row" id="safty-certificate">
	<div class="small-12 columns">
    <div class="section-safety-certifications-wrapp section-spacing {% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
      <div class="safety-certifications-content">
        {%- for block in section.blocks -%}
          <div class="safety-certifications-items">
            {%- if block.settings.image != blank -%}
              <div class="safety-certifications-img">
                {%- liquid
                  assign image = block.settings.image
                  assign width = image.src.width | append: 'x' | append: image.src.height
                -%}
                {%- render 'responsive-image', image: image, sizes: width, class: 'slideshow-image--mobile', priority: priority -%}
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
      {%- if section_heading != blank or section_description != blank -%}
        <div class="section-header">
          <div class="section-header--content">
            {%- if section_heading -%}
              <h3 class="section-header--title {{section.settings.head-size}}">
                {% render 'animated-marker-heading', heading: section_heading, style: marker_style, color: marker_color %}
              </h3>
            {%- endif -%}
            {%- if section_description != blank -%}
              <div class="section-header--description rte {{ section.settings.body-size }}">
                {{ section_description }}
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    </div>
	</div>
</div>

{% schema %}
  	{
		"name": "Safety Certifications",
		"class": "section-safety-certifications",
		"settings": [
			{
				"type": "text",
				"id": "heading",
				"label": "Heading",
				"default": "Toggle boxes",
				"info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
			},
			{
				"type": "select",
				"id": "marker_style",
				"options": [
					{
						"value": "style1",
						"label": "Basic"
					},
					{
						"value": "style2",
						"label": "Double"
					},
					{
						"value": "style3",
						"label": "Squiggle"
					},
					{
						"value": "style4",
						"label": "Zigzag"
					}
				],
				"default": "style1",
				"label": "Marker"
			},
      {
        "type": "select",
        "id": "head-size",
        "label": "Size",
        "options": [
          {
            "value": "h1",
            "label": "Extra Large"
          },
                {
            "value": "h2",
            "label": "Large"
          },
                {
            "value": "h3",
            "label": "Medium"
          },
                {
            "value": "h4",
            "label": "Small"
          }
        ],
        "default": "h1"
      },
			{
				"type": "richtext",
				"id": "description",
				"label": "Description",
				"default": "<p>Add a short description for this section</p>"
			},
      {
        "type": "select",
        "id": "body-size",
        "label": "Size",
        "options": [
              {
          "value": "body-large",
          "label": "Large"
        },
        {
          "value": "body-regular",
          "label": "Medium"
        },
        {
          "value": "body-small",
          "label": "Small"
        },
        {
          "value": "body-extra-small",
          "label": "XSmall"
        }
        ],
        "default": "body-large"
      },
      {
	      "type": "header",
	      "content": "Spacing"
	    },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			},
      {
				"type": "header",
				"content": "Desktop spacing"
			},
			{
				"type": "range",
				"id": "desktop_spacing_top",
				"min": 0,
				"max": 200,
				"step": 5,
				"unit": "px",
				"label": "Desktop spacing top",
				"default": 100,
				"info": "Changes the section top spacing in desktop screens."
			},
			{
				"type": "range",
				"id": "desktop_spacing_bottom",
				"min": 0,
				"max": 200,
				"step": 5,
				"unit": "px",
				"label": "Desktop spacing bottom",
				"default": 100,
				"info": "Changes the section bottom spacing in desktop screens."
			},
			{
				"type": "header",
				"content": "Mobile spacing"
			},
			{
				"type": "range",
				"id": "mobile_spacing_top",
				"min": 0,
				"max": 200,
				"step": 5,
				"unit": "px",
				"label": "Mobile spacing top",
				"default": 50,
				"info": "Changes the section top spacing in mobile screens."
			},
			{
				"type": "range",
				"id": "mobile_spacing_bottom",
				"min": 0,
				"max": 200,
				"step": 5,
				"unit": "px",
				"label": "Mobile spacing bottom",
				"default": 50,
				"info": "Changes the section bottom spacing in mobile screens."
			}
    ],
		"blocks": [
      {
        "type": "icon",
        "name": "icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
			{
				"name": "Safety Certifications",
				"blocks": [
				]
			}
		],
		"enabled_on": {
			"templates": ["*"],
			"groups": [
				"header", "footer"
			]
		}
  }
{% endschema %}
